$primary-white: #ffffff;
$primary-nude: #FACE8D;
$primary-text-inverse: #081212;
$primary-on-focus: #e1e0e0;
$black-color: #111111;

$font-bitter-rose: 'Great Vibes', sans-serif;
$font-Chillax: 'Poiret One', sans-serif;

$font-weight-500: 500;
$font-weight-400: 400;

$height-48: 48px;